USE [master]
GO
/****** Object:  Database [PrintCore_Test]    Script Date: 15.07.2025 20:27:11 ******/
CREATE DATABASE [PrintCore_Test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PrintCore_Test', FILENAME = N'C:\Users\GG Draft Maciej\PrintCore_Test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PrintCore_Test_log', FILENAME = N'C:\Users\GG Draft Maciej\PrintCore_Test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PrintCore_Test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PrintCore_Test]
GO
/****** Object:  Table [dbo].[Clients_Test]    Script Date: 15.07.2025 20:27:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients_Test](
	[Client_ID] [int] IDENTITY(1,1) NOT NULL,
	[First_Name] [varchar](50) NULL,
	[Last_Name] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Phone] [varchar](15) NULL,
	[NIP] [varchar](15) NULL,
	[Client_Type] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Client_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
